@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 240px;
  padding: 10px;
}
.title {
  font-size: 20px;
  margin-bottom: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.popup-container {
  width: 250px;
  height: 400px;
  background-color: #F5F5F5;
  padding: 0 30px;
}

.btn-container {
  margin-top: 40px;
}

.btn {
  width: 100px;
  height: 48px;
}

.detect-btn{
  margin: 20px 0;
  cursor: pointer;
  width: 100%;
  height:  50px;
  border: 1px solid #2196F3;
  border-radius: 12px;
  text-align: center;
  line-height: 50px;
}
.block{
  display: block;
}

.cancel {
  display: none;
}