// use attribute to avoid original website js change classname 
[data-mark="sss-blur"] {
  filter: blur(20px);
  >*{
    filter: grayscale(1);
  }
}

[data-mark="sss-offset"] {
  position: relative;
  transition: transform .5s;
  z-index: 1;
}

.sss-detect {
  background-color: rgba(255, 0, 0, 0.4) !important;
}
.sss-preview {
  display: none !important;
}
.sss-confim {
  display: none !important;
}