@tailwind base;
@tailwind components;
@tailwind utilities;
main {
  padding: 4px 8px;
}

.selector {
  width: 100%;
  display: flex;
}
#filters{
  color: #4A4A4A;
  padding: 4px 8px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Source Sans Pro", sans-serif;
  font-size: inherit;
  outline: none;
  resize: none;
  flex-grow: 1;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
button:not(#unselect) {
  padding: 4px 20px;
  border-radius: 4px;
}
button {
  font-weight: 700;
  line-height: 34px;
  cursor: pointer;
}
.details {
  display: flex;
  align-items: center;
  margin: auto;
}
#selected, #cancel, #filters {
  color: #4A4A4A;
}
#unselect {
  border: 0;
  background: transparent;
  color: #0797E1;
}
.preview-and-detect{
  display: flex;
  align-items: center;
}
.detect {
  margin: auto;
  border: 1px solid #ED1E45;
  color: #ED1E45;
  background-color: #fae9e9;
}
.preview-btn {
  margin: auto 8;
  border: 1px solid #c0e6f9;
  color: #0797E1;
  background-color: #edf9ff;
  margin-right: 10px;
}
.preview {
  display: block;
}
.exit-preview {
  display: none;
}
footer {
  display: flex;
  background-color: #f7f7f7;
  padding: 4px 8px;
}
.cancel {
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d2d2d2;
  background-color: transparent;
}